/*------------ Seccion de MIS PROYECTOS ------------*/

.projects__container {
  color: white;
  padding-top: 2.1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.3em;
}

.boxTitle__projects {
  width: max-content;
  margin-bottom: 2.5em;
}

.sisisi {
  display: flex;
  justify-content: center;
}

.box__P {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  gap: 3em;
}

.cardProject__box {
  /* background-color: #2d2e31; */
  /* background-color: #2a4db8; */
  border: 2px solid  #2a4db8;
  border-radius: 5px;
  width: 390px;
  height: 260px;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
}

.imgs__proyects {
  width: 320px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -70px;
}

.imgProyect__box {
  margin: 0 auto;
}

.title__card {
  margin-top: 1em;
 text-align: center;
}

.text__project {
  color: #85878e;
  font-weight: 300;
  text-align: center;
  padding: 1em;
  font-size: 14px;
}

.Link__web {
  text-decoration: none;
  color: inherit;
}



/*--- Seccion de MIS PROYECTOS DESTOK ---*/
 
@media (min-width: 768px) {
    .box__P {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 70px; 
  }
}
