body {
  background-color: #1b1b1b;
  font-family: "Nunito", sans-serif;
}

/*--- Barra de navegacion ---*/

.navigation__bar {
  height: 65px;
  background-color: #0c134f;
}

.navigation__list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color:#1b1b1b;
  color: white;
  text-align: center;
  position: absolute;
}

.menu__button {
  display: block;
  padding-left: 1em;
  padding-top: 1em;
}

@media (max-width: 768px) {
  .menu__button {
    display: block;
    
  }
}

@media (min-width: 768px) {
  .menu__button {
    display: none;
    background-color: red;
  }
}


@media (min-width: 768px) {
  .navigation__bar {
    display: flex;
    align-items: center;
  }
}

.navigation__list.open {
  display: block;
}

.navigation__list li {
  padding: 10px;
}

.navigation__list li a {
  text-decoration: none;
  color: #333;
}




.icon__navigation{
    color: white;
    width: max-content;
}

@media (min-width: 768px) {
  .navigation__list {
    color:white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0c134f;
    width: 100%;
  }
}

/*--- Seccion de INICIO ---*/

.box__img {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.img__user {
  width: 300px;
  border-radius: 50%;
}

/* .a {
    text-decoration: none;
} */

.container__inicio {
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}

.my__information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__info {
  color: white;
  padding-top: 0.4em;
  padding: 0.2em;
  text-align: center;
  color: #b0daff;
}

.text__info {
  color: white;
  text-align: center;
}

.btn__moreinfo {
  background-color: #b0daff;
  width: 170px;
  height: 50px;
  border-radius: 0.4em;
  font-size: 0.8rem;
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  transition: background-color 0.3s ease;
}


.btn__moreinfo:hover {
    background-color: #d6b436;
}

.box__archivoPdf {
    text-decoration: none;
}

/*--- Seccion de ACERCA DE MI ---*/

.container__acerca-de-mi {
  background-color: #0c134f;
  margin-top: 2.7em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2.4em;
}

.title__acerca-de-mi {
  padding-top: 1.7em;
  padding-bottom: 1.2em;
  color: white;
  font-weight: bolder;
  
}

.box__introductorytext {
  background-color: #1b1b1b;
  width: 340px;
  margin-top: 0.7em;
  padding: 1em;
  border-radius: 0.5em;
  margin: auto;

}

.infobox__introduc {
  font-weight: lighter;
  text-align: left;
  color: white;
}

.textinfo__acerca-de-mi {
  padding-top: 1.4em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

/*--- Seccion de CONOCIMIENTOS Y ABILIDADES ---*/

.container__conocimientos-y-habilidades {
  background-color: #1b1b1b;
  padding-left: 2em;
  padding-right: 2em;
  color: white;
  margin-top: 2.1em;
  margin-bottom: 2.2em;
}

.title__skils {
  padding-bottom: 1.2em;
}

.container_child-conocimientos-etc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6em;
}

.fa-html5,
.fa-css3,
.fa-js,
.fa-react,
.fa-node,
.postgresicon,
.fa-github {
  color: white;
  width: 700px;
}

.box__postgres {
  padding-top: 3rem;
}

.postgres__icon {
  width: 110px;
}

.text_icons {
  text-align: center;
}

.tata {
  width: 100px;
  /* color: brown; */
}

/*--- Seccion de MIS PROYECTOS ---*/

.container__proyectos {
  background-color: #0c134f;
  color: white;
  padding-top: 2.1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.3em;
}

.title__proyectos {
  padding-bottom: 1.3em;
}

.imgs__proyects {
  max-width: 300px;
}

.box__detailsP {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.esto {
  width: max-content;
}

.text__proyect {
  background-color: #1b1b1b;
  border-radius: 0.5em;
  font-weight: lighter;
  text-align: center;
  padding: 1em;
  max-width: 500px;
}

/*--- Seccion de CONTACTAME ---*/

.container__contactame {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 4rem;
}

.title__contactame {
  padding-top: 1.6em;
  color: white;
  font-weight: bolder;
  padding-bottom: 2em;
}

.form__contactame {
  background-color: #1b1b1b;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: inherit;
  border: 1px solid white;
  border-radius: 0.3rem;
  color: white;
}

.box_label {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  font-weight: bold;
}

.box__input {
  border: none;
  margin-top: 1em;
  padding-top: 2em;
  color: white;
  background-color: #474747;
}

.box__message {
  margin-top: 1em;
  border: none;
  padding-top: 5em;
  background-color: #474747;
}

.btn__form {
  height: 44px;
  margin-left: 3em;
  margin-right: 3em;
  border-radius: 0.3em;
  color: white;
  background-color: #0c134f;
  border: 1px solid white;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
}


.btn__form:hover {
    background-color: #d6b436;
    color: #1b1b1b;
}


/*--- Seccion de REDES SOCIALES  ---*/

/* .container__social {
    gap: 1rem;
    border: none;
    width: 100px;
    display: flex;
} */




.container__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .linea-delgada1 {
    flex-grow: 1;
    height: 1px;
    background-color: #fae69e;
    margin-left: 3em;
  }

  .linea-delgada2 {
    flex-grow: 1;
    height: 1px;
    background-color: #fae69e;
    margin-right: 3em;
  }

.icons__social {
    color: #fae69e;
}



.icons__social-github {
width: 40px;
color: #fae69e;
}

.text__copyricth {
    text-align: center;
    margin-top: 4em;
    color: #fae69e;
    font-weight: bold;
}


/*--- Seccion de INICIO DESTOK ---*/


@media (min-width: 768px) {
    .img__user {
        width: 460px;
    }
  }

@media (min-width: 768px) {
    .title__info {
        font-size: 40px;
    }
  }

  @media (min-width: 768px) {
    .text__info {
        font-size: 22px;
    }
  }

  @media (min-width: 768px) {
    .btn__moreinfo {
        font-size: 15px;
        width: 230px;
        height: 70px;
    }
  }



/*--- Seccion de MIS PROYECTOS DESTOK ---*/



  @media (min-width: 768px) {
    .box__introductorytext {
        width: 500px;
        height: 100px;
        display: flex;
        align-items: center;
    }
  }



  @media (min-width: 768px) {
    .box__P {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
        grid-gap: 20px; /* Espacio entre las columnas */
    }
  }




