body {
  background-color: #1b1b1b;
  font-family: "Nunito", sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'DM Sans', sans-serif; */
}


.container-home,
.container__AboutMe,
.container__skills,
.projects__container,
.contactMe__container,
.navigation__bar {
  max-width: 1300px;
  margin: 0 auto;
}


/*--- Seccion de INICIO DESTOK ---*/


@media (min-width: 768px) {
    .img__user {
        width: 460px;
    }
  }

@media (min-width: 768px) {
    .title__info {
        font-size: 40px;
    }
  }

  @media (min-width: 768px) {
    .text__info {
        font-size: 22px;
    }
  }

  @media (min-width: 768px) {
    .btn__moreinfo {
        font-size: 15px;
        width: 230px;
        height: 70px;
    }
  }







